body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  text-align: center;
  line-height: 72px;
}

.sidebar {
  width: 300px;
  background: royalblue;
  width: 300px;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 300px;
  height: 300px;
  padding: 12px;
}

.content {
  display: flex;
  flex-grow: 2;
}

.card-container {
  display: flex;
  padding: 32px;
  flex-wrap: wrap;
  gap: 38px 32px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

ul {
  list-style-type: none;
  padding-inline-start: 0%;
  margin: 0;
}

.header-text {
  padding: 16px;
}

